html{
    height: 100%;
}

body{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.87);
    padding: 0;
    margin: 0;

}



#balk {
    background-color: darkgrey;
    width: 100%;
    height: 8%;

}

#container{
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;

}

#menu{
    background-color: rgb(116, 18, 18);
    height:100%;
    width: 15%;
}

#vakje{
    background-color: darkslategrey;
    height:20%;
    width: 15%;
}

#blokje{
    background-color: aqua;
    height:20%;
    width: 15%;

}

#blokje1{
    background-color: blue;
    height:20%;
    width: 15%;

    }