html{
    height: 100%;
}

body{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.87);
    padding: 0;
    margin: 0;

}



#balk {
    background-color: #41494f;
    width: 100%;
    height: 8%;
    padding: 1px 1px 1px 1px;

}

#container{
    background-color: blue;
    width: 100%;
    height: 100%;
    display: flex;

}

#menu{
    background-color: white;
    height:100%;
    width: 17%;
}

#logo{
    margin: 17%;
}

#blok{
    height: 92%;
    width: 85%;
}
#vakje{
    background-color: darkslategrey;
    height:25%;
    width: 20%;
}

.kopjes{
    position: relative;
    display: inline;
    margin: 0 10px 5px 0;
}

.kopkleur{
    color: white;
}

.hoofdmenu{

}

.kleur{
    color: darkgrey;
}