html{
    height: 100%;
}

body{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.87);
    padding: 0;
    margin: 0;

}

#balk {
    background-color: grey;
    width: 80%;
    height: 15%;
}

#container{
    background-color: lightgray;
    width: 80%;
    height: 70%;
    display: flex;
}

#menu{
    background-color: rgb(169, 169, 169);
    height:100%;
    width: 20%;
}

#berichten{
    background-color: darkslategrey;
    height:100%;
    width: 55%;
}

#plaatjes{
    background-color: rgb(77, 83, 77);
    height:100%;
    width: 25%;
}

.boodschap{
    background-color: white;
    border: 12px solid black;
    border-radius: 20px;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    padding: 12px;
}